// BRAND
$primary-color: #658c4a;
$secondary-color: #e7cec0;
// BASIC
$white-color: #ffffff;
$black-color: #000000;
$info-color: #0065ff;
$success-color: #36B37E;
$warning-color: #ffab00;
$error-color: #ff5630;
// GREY
$grey50: #f5f5f5;
$grey100: #e6e6e6;
$grey200: #cccccc;
$grey300: #b3b3b3;
$grey400: #999999;
$grey500: #666666;
$grey600: #333333;
$grey700: #262626;
$grey800: #191919;
$grey900: #0d0d0d;