@import './text';

@mixin text-large-regular {
	line-height: $text-large-lh;
	font-family: $text-font;
	font-size: $text-large-size;
}
@mixin text-large-semibold {
	line-height: $text-large-lh;
	font-family: $text-font;
	font-size: $text-large-size;
}
@mixin text-normal-regular {
	line-height: $text-normal-lh;
	font-family: $text-font;
	font-size: $text-normal-size;
}
@mixin text-normal-semibold {
	line-height: $text-normal-lh;
	font-family: $text-font;
	font-size: $text-normal-size;
}
@mixin text-small-regular {
	line-height: $text-small-lh;
	font-family: $text-font;
	font-size: $text-small-size;
}
@mixin text-small-semibold {
	line-height: $text-small-lh;
	font-family: $text-font;
	font-size: $text-small-size;
}
@mixin text-xtra-small-regular {
	line-height: $text-xtra-small-lh;
	font-family: $text-font;
	font-size: $text-xtra-small-size;
}
@mixin text-xtra-small-semibold {
	line-height: $text-xtra-small-lh;
	font-family: $text-font;
	font-size: $text-xtra-small-size;
}
@mixin text-2xtra-small-regular {
	line-height: $text-2xtra-small-lh;
	font-family: $text-font;
	font-size: $text-2xtra-small-size;
}
@mixin text-2xtra-small-semibold {
	line-height: $text-2xtra-small-lh;
	font-family: $text-font;
	font-size: $text-2xtra-small-size ;
}
// HEADING
@mixin heading1 {
	font-size: 56px;
	line-height: $heading-line-height;
}
@mixin heading2 {
	font-size: 48px;
	line-height: $heading-line-height;
}
@mixin heading3 {
	font-size: 40px;
	line-height: $heading-line-height;
}
@mixin heading4 {
	font-size: 32px;
	line-height: $heading-line-height;
}
@mixin heading5 {
	font-size: 25px;
	line-height: $heading-line-height;
}
@mixin heading6 {
	font-size: 20px;
	line-height: $heading-line-height;
	font-weight: 400;
}