// HEADING
$heading-line-height: auto;
$heading-font: 'Libre Baskerville Regular', serif;

// BODY
$text-font: 'Inter', sans-serif;
$text-large-lh: 28px;
$text-normal-lh: 24px;
$text-small-lh: 20px;
$text-xtra-small-lh: 16px;
$text-2xtra-small-lh: 14px;

$text-large-size: 20px;
$text-normal-size: 16px;
$text-small-size: 14px;
$text-xtra-small-size: 12px;
$text-2xtra-small-size: 10px;