.product {
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
}
.product img {
	width: 312px;
	height: 312px;
	border-radius: 8px;
}
.name {
	color: #FFF;
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	margin: 8px 0;
}

.price {
	margin: 0;
	color: #FFF;
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.oldPrice {
	margin: 0;
	color: #F5F5F5;
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	text-decoration: line-through;
}

@media screen and (max-width: 376px) {
	.product img {
		width: 164px;
		height: 164px;
	}
	.name {
		color: #333;
		font-size: 14px;
		line-height: 20px;
	}
	.price {
		color: #658C4A;
		font-size: 12px;
		line-height: 16px;
	}
	.oldPrice {
		color: #999;
		font-size: 12px;
		line-height: 16px;
	}
}