@import '../../styles/help.scss';

.hidden {
	display: none;
}
.menu {
	display: block;
	list-style-type: none;
	padding: 8px 0;
	margin: 0;
}
.menu li {
	cursor: pointer;
	color: #262626;
	font-family: Inter;
	font-weight: 600;
	line-height: 16px;
	margin: 16px;
}

@media screen and (min-width: 376px) {
	.menu {
		display: none;
	}
}