.menu {
	list-style-type: none;
	padding: 8px 0;
	margin: 0;
}
.menu li {
	cursor: pointer;
	color: #262626;
	font-family: Inter;
	font-weight: 600;
	line-height: 16px;
	margin: 16px;
}

@media screen and (max-width: 376px) {
}