footer {
	background: url(../../images/bg3.png) no-repeat;
	background-position: center;
	background-size: cover;
	height: 628px;
}
.forBorder {
	width: 100%;
	border-bottom: #333 1px solid;
	padding-bottom: 24px;
}
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
}

.menuLists {
	display: grid;
	grid-template-columns: repeat(4, 312px);
	margin-top: 40px;
}

.menuLists ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.menuLists li {
	color: #333;
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 8px;
}
.menuLists li:not(:first-of-type):hover {
	text-decoration: underline;
	cursor: pointer;
}
.menuLists .firstLi {
	color: #658C4A;
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	margin-bottom: 16px;
}
.payment {
	display: grid;
	grid-template-columns: repeat(4, 56px);
	grid-template-rows: repeat(4, 40px);
	grid-gap: 16px;
}
.payment .firstLi {
	grid-column: span 4;
}
.payment li {
	margin: 0;
}
.bottom {
	display: flex;
	justify-content: space-between;
}
.bottom ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}