.menu {
	list-style-type: none;
	padding: 16px 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #658C4A;
	width: 100%;
}
.menu li {
	margin: 8px 16px;
	color: #333;
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	cursor: pointer;
}

@media screen and (max-width: 376px) {
	.menu {
		display: none;
	}
}