.navigation-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
}
.logo {
	width: 95px;
	height: 48px;
	cursor: pointer;
}

.icons {
	width: 80px;
	display: flex;
	justify-content: space-between;
}
.icons img {
	width: 32px;
	filter: brightness(2);
	cursor: pointer;
}